.header_container {
    display: inline-block;
    position: relative;
    height: 150px;
    width: 100%;
    background: #1B242F;
    top:0;
    z-index: 50;
    @media (max-width: 450px){
        display: none;
    }
    .link-wrap {
        overflow: visible;
        text-align: center;
        margin: 20px; 
        .page-logo {
            margin-bottom: 2rem;
        }
        .page-link {
            margin: 0 20px;
            display: inline;
            cursor: pointer;
            text-transform: uppercase;
            color: white;
            background: none;
            border: none;
            a {
                color: white;
                transition: color .5s;
                text-decoration: none;

                &:hover {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}

.footer_container {
    background-color: #1B242F;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    .first-row {
        display: flex;
        .footer__logo {
            width: 15%;
            margin: 0 0 0 auto;
        }
        .Link_container {
            margin: auto auto auto 0;
            .page-link {
                margin: 1rem;
                a{
                    color:white;
                    text-decoration: none;
                }
            }
        }
    }
 
    .text_container {
        margin: 0 auto;
        p {
            margin-bottom: 0;
        }
        span {
            color: $key-red;
        }
    }

}