.Series-list {
    max-width: 1300px;
    margin: 10rem auto;
    text-align: center;
    .Series__Card {

        width: 480px;
        height: 275px;
        margin: 20px;
        display: inline-flex;
        position: relative;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        .Series__Column{
            position: relative;
        }
        .Series__Poster {
            width: 185px;
            height: 278px;
            outline: none;
            border: 0;
        }
        .Series__Title {
            font-size: $m-size;
            font-weight: bold;
            margin: 10px;
            text-align: left;        
        }
        .Series__ReleaseDate {
            font-size: $s-size;
            font-style: italic;
            margin: 10px;
            text-align: left;   
        }
        .Series__Overview{
            text-align: left;   
            margin: 40px 10px 10px 10px;
        }
        .Series__View-more {
            border-top: 1px solid #e3e3e3;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 16px 0px;
            display: block;
            width: 100%;
            margin: 0;
            a {
                color: inherit;
                text-decoration: none;
            }
        }

    }
}

.Series__Details {
    margin-top: 9rem;

    .Detail__bg-card {
        background-color: rgba(37, 42, 61,.9);
        display: inline-flex;
        width:100%;
        position: relative;
        color: white;
        .Detail__Column {
            position: relative;
        }
        .Detail__Poster {
            width: 300px;
            height: 450px;
            outline: none;
            border: 0;
            padding: 5rem 5rem 5rem 15rem;
        }
        .Detail__Info {
            padding: 5rem 0;
            margin-right: 10rem;
            font-size: $m-size;
            .Detail__Title {
                font-size: $xl-size;
                margin: 0;
                font-weight: bold;
            }
            .Genre__Badge {
                border: .5px solid white;
                background-color: white;
                padding: 5px;
                border-radius: 5px;
                color: black;
                margin-right: 1rem;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                cursor: default;
            }
            .Detail__Overview {
                margin: 4rem 0;
                .Overview__Title{
                    font-size: $l-size;
                    font-weight: bold;
                }
                p {
                    font-size: $m-size;
                }
            }
        }
    }
    .row{
        display: flex;
        width: 100%;
        .Detail__Column {
            display: inline-flex;

            &.left {
                width: 75%;
                display: block;
                .Detail__Cast {
                    margin: 5rem 5rem 5rem 15rem;
                    .Detail__Title{
                        font-size: $l-size;
                        font-weight: bold;
                    }
                    .Detail__CastLink{
                        font-size: $m-size;
                        a {
                            text-decoration: none;
                            &:focus {
                                color: inherit;
                            }
                        }
                    }
                }
                .Detail__Season {
                    margin: 5rem 5rem 5rem 15rem;
                    .Detail__Title{
                        font-size: $l-size;
                        font-weight: bold;
                    }
                    .Detail__SeasonLink{
                        font-size: $m-size;
                        a {
                            text-decoration: none;
                            &:focus {
                                color: inherit;
                            }
                        }
                    }
                }
                .Detail__RelatedSeries{
                    margin: 5rem 5rem 5rem 15rem;
                    .Detail__Title{
                        font-size: $l-size;
                        font-weight: bold;
                    }
                    .Related__Carousel{
                        display: flex;
                        overflow-x: scroll;
                        .Series__Card {
    
                            width: 250px;
                            margin: 20px;
                            display: block;
                            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                            .Series__Column{
                                position: relative;
                            }
                            .Series__Poster {
                                width: 250px;
                                height: 171px;
                                outline: none;
                                border: 0;
                            }
                            .Series__Title {
                                font-size: $m-size;
                                font-weight: bold;
                                margin: 10px;
                                text-align: center;        
                            }
                            .Series__ReleaseDate {
                                display: none;
                            }
                            .Series__Overview{
                                display: none;
                            }
                            .Series__View-more {
                                display: none;
    
                            }
                        }
                    }
                    
                }
                hr {
                    margin: 5rem 0;
                    width: 100%;
                }
            }
            &.right {
                padding: 5rem 0;
                background-color: #f1f0f1;
                width: 25%;
                font-size: $m-size;
                .Fact__Container {
                    margin-left: 3rem;
                    .Fact__Title{
                        font-weight: bold;
                    }
                    .Fact__Context{
                        margin-left: 1rem;
                    }
                }
            }
        }   
    }
    
}

.Series__Simple{
    background-color: rgba(37, 42, 61,.9);
    padding: 3rem 0;
    width: 100%;
    display: flex;
    .Series__Simple__Poster {
        margin: 0 2rem 0 5rem;
    }
    .Series__Simple__Detail{
        .SeriesSimple__Title {
            font-size: $xl-size;
            color: white;
            margin: 2rem 0 1rem 0;
        }
        .SeriesSimple__Goback{
            color: white;
            font-size: $m-size;
            cursor: pointer;
            display: inline;
        }
    }

}