.Detail__Season {
    .Season {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        height: 195px;
        display: flex;
        .Season__Detail {
            width: 100%;
            margin: 2rem;
            a{
                color: black;
                text-decoration: none;
            }
            .Season__Title{
                font-size: $l-size;
                font-weight: bold;
                margin: 1rem 0 0.5rem 0;
            }
            .Season__Subtitle {
                font-size: $s-size;
                font-weight: bold;
                margin: 0;
            }
            .Season__Overview {
                margin: 10px 0;
                font-size: $s-size;
            }
        }
    }
}

.Season__List {
    margin: 0 auto;
    padding-bottom: 290px;
    width: 100%;
    .Season {
        height: 300px;
        display: flex;
        margin: 2rem auto;
        width: 70%;
        img {
            width: 200px;
        }
        .Season__Detail {
            width: 100%;
            margin: 2rem;

            .Season__Title{
                font-size: $l-size;
                font-weight: bold;
                margin: 2rem 0 0.5rem 0;
                text-decoration: none;
                color: black;
            }
            .Season__Subtitle {
                font-size: $s-size;
                font-weight: bold;
                margin: 0;
            }
            .Season__Overview {
                margin: 2rem 0;
                font-size: $s-size;
            }

        }
    }
}