.header_container {
    display: inline-block;
    position: fixed;
    height: 150px;
    width: 100%;
    background: #1B242F;
    top:0;
    z-index: 50;
    @media (max-width: 450px){
        display: none;
    }
    .link-wrap {
        overflow: visible;
        text-align: center;
        margin: 20px; 
        .page-logo {
            margin-bottom: 2rem;
        }
        .page-link {
            margin: 0 20px;
            display: inline;
            cursor: pointer;
            text-transform: uppercase;
            color: white;
            background: none;
            border: none;
            a {
                color: white;
                transition: color .5s;
                text-decoration: none;

                &:hover {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}

.footer_container {
    background-color: #1B242F;
    color: white;
    position: relative;
    padding: 70px 0 50px 0;
    text-align: center;
}